.sidebar {
  flex: 1 1 15%;
  padding: 10rem 1vw 0 calc(2rem + 2vw);
  min-width: 29rem;
  height: 100%;
  background-color: white;


  .menu {
    color: green;
    text-align: left;

    &__element {
      margin-top: 3rem;
    }

    a {
      margin-left: -1vw;
      color: black;
      position: sticky;
      top: 0rem;
    }

    &__link {
      margin-top: 3rem;
    }

  }
}

@media screen and (max-width:1100px) {
  .sidebar {
    display: none;
    visibility: collapse;
  }
}

.underline-link {
  display: inline-block;

  &:hover::after {
    width: 100%;
  }

  &::after {
    content: '';
    width: 0px;
    height: 0.6px;
    display: block;
    background: #b3b3b3;
    transition: 300ms;
  }
}