@use '../../styles/base/colors';

.properties-container {
  color: #2b2b2b;
  width: 100%;
  padding: 0 10rem;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
// DUPLICATED FROM OLD.WIZARD.MODULE.SCSS
.feature-tag {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 3rem;
  background-color: colors.$color-light-green;
  padding: 0rem 1.5rem;
  color: colors.$color-primary;

  &__not-verified {
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 3rem;
    background-color: colors.$color-secondary-light;
    padding: 0rem 1.5rem;
    color: colors.$color-secondary;
  }
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;

  &__link {
    text-decoration: none;
    color: #2b2b2b;
  }

  &__text {
    margin-left: 4rem;
  }

  &__facilities {
    margin-top: 2rem;
  }

  &__verification {
    margin-top: 6rem;
  }

  &__price {
    margin-left: 6rem;
  }
}

@media(max-width: 800px) {
  .properties-container {
    padding: 0;
    margin-top: 10vh;
  }
}