@use '../abstracts/mixins';
// CLASS SPECIFICALLY MADE TO ACCESS SWIPER CSS CLASSES

@mixin swiper-button ($url) {
  width: 50px;
  height: 50px;
  max-width: 50px;
  background-image: $url;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  content: "";
  top: calc(50% - 30px);
}

#swiper-replace {

  .swiper-button-next {
    @include swiper-button(url(../../public/carousel-right-arrow.svg));

    @include mixins.mobile {
      width: 15%;
      margin-right: -1rem;
    }
  }

  .swiper-button-next::after {
    @include swiper-button(url(../../public/carousel-right-arrow.svg))
  }

  .swiper-button-prev {
    @include swiper-button(url(../../public/carousel-left-arrow.svg));

    @include mixins.mobile {
      width: 15%;
      margin-left: -1rem;
    }
  }

  .swiper-button-prev::after {
    @include swiper-button(url(../../public/carousel-left-arrow.svg))
  }

  .swiper-pagination-bullet-active {
    background: white;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  padding-bottom: 2rem;
}


