.account {
  margin-top: 65px;
  color: black;
  display: flex;
  .container {
    width: 100%;
    flex: 1 1 70%;
    .row {
      display: flex;
      border: 1px;
      border-radius: 4px;
      justify-content: space-around;
    }
  }
  main {
    border-left: 0.3rem solid rgb(214, 214, 214);
    flex: 1 1 75%;
    margin: 0 30vw 0vh 5vw;
    padding: 5vh 0 0 5vw;
    h2 {
      font-size: 2.5rem;
    }
    p {
      margin-bottom: 6rem;
    }

    section {
      margin: 4rem 0;
    }
    input[type='file'] {
      display: none;
    }
    footer {
      width: 100%;
      max-width: 50rem;
    }
  }
}
.description-input {
  height: 15vh;
}
