.bookingCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    &__imgtext {
        display: flex;
        flex-direction: row;
    }

    &__text {

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: 1.7rem;
        margin-left: 2rem;
    }
}