@use '../../styles/base/colors';

.priceLinesContainer {
    padding: 2rem 0;
    border-bottom: 1px solid colors.$color-grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &:last-of-type {
        border: none;
    }
}

.priceLineLeft {
    grid-column: 1/2;
}

.priceLineRight {
    grid-column: 2/3;
}