@use '../../../styles/base/colors';
@use '../../../styles/components/buttons';

.wizard {
  color: hsl(0, 0%, 17%);
  flex: 1 1 75%;
  height: fit-content;

  padding: 15rem calc(20vw) 30rem 0;
  // max-width: calc(65rem + 20vw);
  min-width: 110rem;

  border-left: 0.2rem solid rgb(214, 214, 214);

  .formItem {
    margin-bottom: 50px;
  }
}

.error {
  color: #f44336;
}

.step1 {
  width: 100%;
  height: 100%;
  padding: 0 10rem;
  &__buttonWrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
  }

  &_textareaWrapper {
    display: inline-flex;
  }

  &__label {
    margin-top: 1rem;
  }

  &__flexWrapper {
    display: flex;
    gap: 30px;
    margin-top: 3rem;
  }

  &__addressHeader {
    margin-bottom: 3rem;
  }

  &__addressGridWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: 800px) {
    &__addressGridWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem 3.5rem;
    }

    &__input--street {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    &__validationSpan--street {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    &__input--number {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &__validationSpan--number {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }

    &__input--zip {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    &__validationSpan--zip {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }

    &__input--city {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }

    &__validationSpan--city {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }

    &__input--country {
      grid-column: 2 / 3;
      grid-row: 5 / 6;
    }

    &__validationSpan--country {
      grid-column: 2 / 3;
      grid-row: 6 / 7;
    }
  }
}

.labelButton {
  height: 90px;
  width: 200px;
  border: 1px solid #00695c;
  position: relative;
  margin: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.step2 {
  width: 100%;
  padding: 0 10rem;
  &__formWrapper {
    margin-bottom: 50px;
  }
  &__flexWrapper {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
  }
  /*   &__labelButtonWrapper {
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
  } */
  &__label {
    margin-top: 1rem;
    align-items: center;
  }
  &__buttonsGridWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
  }
  @media (min-width: 750px) {
    &__buttonsGridWrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
      grid-gap: 1.5rem 3rem;
    }
  }
}

.step3 {
  width: 100%;
  padding: 0 10rem;
  color: black;
  background-color: white;
  justify-content: center;
  align-items: center;

  width: 100%;

  textArea {
    width: 100%;
    height: 20rem;
  }
  &__shortInput {
    width: 8rem;
  }
  &__marginHeadline {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  &__flexWrapper {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    align-items: center;
  }

  // inner availability grid
  &__weekDaysSelector {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 33rem;
  }

  &__weekRepeatSelect {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__untilDatePicker {
    margin-top: 3rem;
    grid-column: 1/ 2;
    grid-row: 3/4;
  }

  &__minimumStay {
    margin-top: 3rem;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
.step4 {
  width: 100%;
  padding: 0 10rem;
}

.step5 {
  width: 100%;
  padding: 0 10rem;
  &__marginHeadline {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  &__overview {
    &--img {
      border-radius: 1.5rem;
      object-fit: cover;
    }
    &--container span {
      height: 15rem !important;
      width: 100% !important;
    }
    &--container {
      margin-top: 4rem;
    }
  }

  &__flexWrapper {
    display: flex;
  }

  &__titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__featureTagWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  &__priceLinesContainer {
    padding: 2rem 0;
    border-bottom: 1px solid colors.$color-grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:last-of-type {
      border: none;
    }
  }
  &__priceLineLeft {
    grid-column: 1/2;
  }
  &__priceLineRight {
    grid-column: 2/3;
  }
  @media (min-width: 800px) {
    &__availabilityGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem 3.5rem;
    }
    &__availabilityDate {
      display: flex;
      align-items: center;
      gap: 2rem;
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__nextMonthButton {
      justify-self: start;
      justify-content: space-between;
      display: flex;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &__weekDayCheckboxWrapper {
      &--week1 {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &--week2 {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &--week3 {
        grid-column: 1/2;
        grid-row: 3/4;
      }
      &--week4 {
        grid-column: 2/3;
        grid-row: 3/4;
      }
    }
  }
}

.footer {
  background-color: white;
  border-top: 0.2rem solid rgb(214, 214, 214);
  // border-left: 0.2rem solid rgb(214, 214, 214);
  position: fixed;
  // padding-left: 300px;
  // margin-left: 30rem;

  bottom: 0;
  width: calc(100%);

  .footer-container {
    display: flex;
    justify-content: space-between;
    max-height: 70px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .hidden {
      visibility: hidden;
    }
  }
}
.item {
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
  &__activeOrPassed {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    .dots {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: colors.$color-primary-light;
    }
    span {
      padding-left: 1rem;
      color: colors.$color-primary-light;
    }
  }
  .dots {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: colors.$color-grey;
  }
  span {
    padding-left: 1rem;
    color: colors.$color-grey;
  }
}
.sidebar-container {
  width: 50%;
}
