@use '../base/colors';

.primary-btn {
  @include btn(white, colors.$color-primary-light, white);
  border: 2px solid #009688;
  &:hover {
    color: #009688;
  }
}
.secondary-btn {
  @include btn(colors.$color-primary-light, transparent, colors.$color-primary-light2);
  border: 2px solid #009688;
}
.tertiary-btn {
  @include btn(black, transparent, rgb(211, 210, 210));
  border: 2px solid black;
}
.delete-btn {
  @include btn(colors.$color-secondary, transparent, colors.$color-secondary);
  border: 2px solid colors.$color-secondary;
  &:hover {
    color: white;
  }
}
.active-btn {
  border: 2px solid #009688;
  background-color: #009688;
  color: black;
  &:hover {
    color: white;
    background-color: colors.$color-primary;
    border: 2px solid #009688;
  }
}
.inactive-btn {
  @include btn(colors.$color-primary, transparent, colors.$color-primary-light2);
  border: 1px solid colors.$color-primary;
  &:hover {
    border: 1px solid colors.$color-primary;
  }
}
