.primary-btn {
  border: 1.5px solid;
  border-radius: 1rem;
  background-color: #009688;
  padding: 1rem 2rem;
  color: white;
  &:hover {
    color: #009688;
    background-color: white;
    border: 1.5px solid #009688;
  }
}
.secondary-btn {
  border: 1px solid #009688;
  border-radius: 1rem;
  background-color: transparent;
  padding: 1rem 2rem;
  color: #009688;
  &:hover {
    background-color: #009688;
    color: white;
  }
}
