input[type="checkbox"]::before {
}

.standard-form {
  font-size: 1.8rem;
  outline: #b3b3b3;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 19px;
  padding: 1rem 1rem;
  margin-right: -2rem;
}
