@use '../../styles/base/colors';

.myBookings {
    display: flex;
    flex-direction: row !important;
}

.bookingList {
    margin-top: 1rem;
    padding: calc(7rem + 5vh) 0 100px 5vw;
    border-left: 0.3rem solid rgb(214, 214, 214);
    width: 80%;

    h4 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

}

.bookingCard {
    margin-top: 6rem;
    align-self: flex-start;
}

.bookingContainer {
    width: 90%;


    hr {
        color: colors.$color-grey;
        background-color: colors.$color-grey;
        clear: both;
        border: 0;
        display: block;
        height: 1px;

        margin: 2rem 0;
    }

    p {
        font-size: 1.7rem;
        color: colors.$color-grey;
    }

    h6 {

        color: colors.$color-subtle;
    }

    button {
        border-radius: 1.5rem;
        border: 1px solid colors.$color-secondary;
        color: colors.$color-secondary;
        background-color: transparent;
        height: 5rem;
        width: 10rem;

        position: relative;
        right: 6rem;

        align-self: center;

        transition: 500ms;

        &:hover {
            color: colors.$color-white;
            border: 1px solid colors.$color-primary-light;
            background: colors.$color-secondary;
        }
    }
}