@use '../../styles/base/colors';
@use '../../../styles/abstracts/mixins';

.myBookings{
    display: flex;
    flex-direction: row !important;
    margin-top: 7rem;
    font-family: 'Inter', sans-serif !important;
    
    
}

.bookingList{
    margin: 2rem 4rem;
    width: 80%;
    padding-left: 5rem;
    border-left: 1px solid colors.$color-light-grey;

    h4{
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    h5{
        font-size: 1.7rem;
        color: colors.$color-subtle;
        font-weight: 100;
        margin-bottom: 4rem;
    }
}

.bookingCard{
    align-self: flex-start;
}
.bookingContainer {
    margin: 2rem 0;
    width: 90%;


    hr {
        color: colors.$color-grey;
        background-color: colors.$color-grey;
        clear: both;
        border: 0;
        display: block;
        height: 1px;

        margin: 2rem 0;
    }

    h4 {
        font-size: 2rem;
        margin: 3rem 0;
    }

    p {
        font-size: 1.7rem;
        color: colors.$color-grey;
    }

    h6 {

        color: colors.$color-subtle;
    }

    button {
        border-radius: 1.5rem;
        border: 1px solid colors.$color-secondary;
        color: colors.$color-secondary;
        background-color: transparent;
        height: 5rem;
        width: 10rem;

        position: relative;
        right: 6rem;

        align-self: center;

        transition: 500ms;

        @include mixins.mobile{
            margin-top: 2rem;
        }

        &:hover {
            color: colors.$color-white;
            border: 1px solid colors.$color-primary-light;
            background: colors.$color-secondary;
        }
    }
}