@use '../../styles/base/colors';

.myBookings{
    display: flex;
    flex-direction: row !important;
    margin-top: 7rem;
    font-family: 'Inter', sans-serif !important;
    
}

.menubar{

    display: flex;
    flex-direction: column;

    margin: 1rem 0 1rem 1rem;
    padding:3rem 2rem;
    cursor: pointer;
    height: 100%;

    a{
        text-decoration: none;
        
    }

    &__profile{
        color: colors.$color-primary-light;
        font-size: 1.7rem;
        transition: 500ms;
        margin: 1.5rem 0;

        &:hover{
            transform: translateY(-0.7rem);
        }
    }

    &__bp{
        color: colors.$color-black;
        font-size: 1.7rem;
        margin: 1.5rem 0;

        &::after{
            content: '';
            width: 0%;
            height: 2px;
            background: colors.$color-black;
            display: block;
            margin: auto;
            transition: 500ms;
            right: 4.5rem;
            position: relative;
            
        }

        &:hover::after{
            width: 60%;
        }
    }

    &__support{
        background: colors.$color-primary-light;
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin: 1.5rem 0;
        transition: 500ms;

        &:hover{
            color: colors.$color-primary-light;
            border: 1px solid colors.$color-primary-light;
            background: transparent;
        }

    }
    
}

.bookingList{
    margin: 2rem 4rem;
    width: 70%;
    padding-left: 5rem;
    border-left: 1px solid colors.$color-light-grey;

    h1{
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    h2{
        font-size: 1.7rem;
        color: colors.$color-subtle;
        font-weight: 100;
        margin-bottom: 4rem;
    }

    hr{
        color: colors.$color-grey;
        background-color:colors.$color-grey;
        clear: both;
        border: 0;
        display: block;
        height: 1px;

        margin: 2rem 0;
    }

    h3{
        font-size: 2rem;
        margin: 3rem 0;
    }

    p{
        font-size: 1.7rem;
        color: colors.$color-grey;
    }

    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;

        &__box{
            display: flex;
            flex-direction: row;

            &__text{
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                font-size: 1.7rem;
                margin-left: 2rem;
            }
        }

        h5{
   
            color: colors.$color-subtle;
        }

        h6{
   
            color: colors.$color-subtle;
        }

    }

    &__btn{
        border-radius: 1.5rem;
        border: 1px solid colors.$color-secondary;
        color: colors.$color-secondary;
        background-color: transparent;
        height: 5rem;
        width: 10rem;

        position: relative;
        right: 6rem;

       align-self: center;

       transition: 500ms;

        &:hover{
            color: colors.$color-white;
            border: 1px solid colors.$color-primary-light;
            background: colors.$color-secondary;
        }
    }
}