.footer {
    background-color: white;
    border-top: 0.2rem solid rgb(214, 214, 214);
    // border-left: 0.2rem solid rgb(214, 214, 214);
    position: fixed;
    // padding-left: 300px;
    // margin-left: 30rem;

    bottom: 0;
    width: calc(100%);

    &__container {
        display: flex;
        justify-content: space-between;
        max-height: 70px;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .hidden {
            visibility: hidden;
        }
    }
}