@use './colors';
@use '../abstracts/mixins';
// @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
// @import url('https://db.onlinewebfonts.com/c/6dec48f5c4399fb4a63b23cbcc441fcb?family=SequelSansW00-LightOblHead');

@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-SemiBold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Bold.ttf');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-ExtraBold.ttf');
	font-weight: 900;
	font-style: normal;
}

* {
  font-family: 'Inter', sans-serif !important;
  font-weight: 300;
}

.centered {
  text-align: center;
}

body {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  // font-family: 'Inter', sans-serif !important;
  font-weight: 300;
}

textarea {
  // font-family: 'Inter', sans-serif !important;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}
.subtitle-text {
  font-size: 24px;
}


.subtle-text {
  color: colors.$color-subtle;
}

.grey-text {
  color: colors.$color-grey  !important;
}
.white-text {
  color: white !important;
}


.bold {
  font-weight: 500 !important;
}

.underlined {
  text-decoration: underline !important;
}


.textArea {
  width: 100%;
  height: 20rem;
}

.header-primary {
  font-size: 6.4rem;
  line-height: 6.8rem;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include mobile {
    font-size: 4rem;
    line-height: 5.5rem;
  }
}

.header-secondary {
  font-size: 4rem;
  line-height: 5.5rem;
  font-weight: 500;
  letter-spacing: -0.05em;

  @include mobile {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }
}
.semi-bold-text {
  font-weight: 600 !important;
}
textArea {
  width: 100%;
  height: 20rem;
}

.header-tertiary {
  font-size: 24px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: -0.05em;

  @include mobile {
    font-size: 20px;
    line-height: 40px;
  }
}

.label-text {
  font-size: 2rem;
  font-weight: 500;
}
.logo-text {
  font-size: 24px;
  font-weight: 650;
}

.green-text {
  color: colors.$color-primary-light;
}
.grey-text {
  color: colors.$color-grey;
}
.body-text {
  font-size: 2.4rem;
  font-weight: 300;
  &__small {
    font-size: 1.8rem;
    font-weight: 300;
  }
    &--hover {
      font-size: 16px;
      font-weight: 200;
      opacity: 70%;
  
      &:hover {
        opacity: 100%;
      }
    }
}

.body-text-secondary {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 20px;
  color: $color-grey;
}

.small-text {
  font-size: 1.6rem !important;
}

.black-text {
  color: black;
}

.smallest-text {
  font-size: 13px !important;
}

.error-msg {
  background-color: #F44336;
  color: white;
  @include mixins.submit-msg();
}

.success-msg {
  color: #009688;
  font-weight: 600;
  @include submit-msg();
}