@use '../../../styles/base/colors';
@use '../../../styles/abstracts/mixins';
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox:checked+label {
  background-color: colors.$color-primary;
  color: colors.$color-white;
}
.labelButton {
    @include mixins.labelButton();
}