@use "../../../styles/base/colors";

.wizard {
  color: #2b2b2b;
  margin-top: 200px;
}

.error {
  color: #f44336;
}

.step1 {
  &__buttonWrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__label {
    font-size: 2.8rem;
  }

  &__flexWrapper{
    display: flex;
    gap: 30px;
  }

  &__shortInput{
    width: 8rem;
  }

  @media (min-width: 720px) {
    &__addressGridWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0 30px;
    }

    &__inputWide {
      grid-column: 1 / 3;
    }
  }
}
