@use "../../styles/base/colors";
@use "../../styles/abstracts/mixins";

.errorAlert {
    @include mixins.alert(colors.$color-error-dialog);
}

.infoAlert {
    @include mixins.alert(colors.$color-info-dialog);
}

.successAlert {
    @include mixins.alert(colors.$color-success-dialog);
}

.imageWrapper {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    filter: brightness(0) invert(1);

}